body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2 {
    color: #333;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    background-color: #1e558d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0a3561;
}

.destination-list ul {
    list-style-type: none;
    padding: 0;
}

.destination-info {
    margin-right: 10px;
}

.delete-btn {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.form-group select {
    width: 100%;
    /* Make the select element full-width */
    padding: 10px;
    /* Add padding for better appearance */
    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    font-size: 16px;
    /* Set font size */
    background-color: #fff;
    /* Set background color */
    color: #333;
    /* Set text color */
}

/* Style for select when it's focused */
.form-group select:focus {
    outline: none;
    /* Remove default focus outline */
    border-color: #007bff;
    /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Add box shadow when focused */
}