/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #f4f3f2;
  --blue-color: #1e558d;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --yellow-color : #fbcd5a;
}
body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #1c4771;
  --grey-color: #c9cddb;
  --grey-color-light: #aaa;
  --yellow-color : #887033;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--yellow-color);
}
.navbar img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--yellow-color);
}

/* sidebar */
.sidebar {
  background-color: var(--yellow-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Dashboard";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "Setting";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--yellow-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
  .main_body {
    margin-left: 0; 
    padding: 20px;
    margin-top:0; 
  }
}
.main_body {
  padding: 20px;
  transition: margin-left 0.5s ease; 
  margin-left: 260px; 
  margin-top: 60px; 
}
/* EXPANDING CARDS*/
.expanding-flex-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content:center;
}

.expanding-flex-cards>.expanding-flex-cards-item{
  width: 100px;
  height: 75vh;
    position: relative;
    background: transparent;
    border-radius:20px;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 10px;
    box-shadow: 0px 2px 11px #ffffff52;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item.active {
    width: 500px;
}
.expanding-flex-cards>.expanding-flex-cards-item:not(.active) {
    cursor: pointer;
}
.expanding-flex-cards>.expanding-flex-cards-item:hover:not(.active){
    transform: scale(1.05);
}
.expanding-flex-cards>.expanding-flex-cards-item>img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer {
    bottom: 20px;
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}
.expanding-flex-cards>.expanding-flex-cards-item:not(.active)>.expanding-flex-cards-item-footer {
    bottom: 12px;
    left: calc(50% - 15px);
    max-height: calc(25%);
    overflow: hidden;
}

/* Expanding Flex Cards Icon (Number) */
.expanding-flex-cards > .expanding-flex-cards-item > .expanding-flex-cards-item-footer > .expanding-flex-cards-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  color: #464444;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  transition: all 0.3s ease;
  padding:5px;
}

/* Expanding Flex Cards Title */
.expanding-flex-cards > .expanding-flex-cards-item > .expanding-flex-cards-item-footer > .expanding-flex-cards-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:flex;
  background-color: #ffffff;
  color: #464444;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0 10px; /* Adjust padding for space between text and border */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-body {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 34px);
    height: calc(75% - 20px);
    padding: 20px 17px;
    overflow: auto;
    align-items: center;
    justify-content: center;
}
.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-body p {
    text-align: center;
    font-size: 24px;
    width: 100%;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-style:var(--white-color);
   
}
.expanding-flex-cards>.expanding-flex-cards-item.active>.expanding-flex-cards-item-body{
    display: flex;
    transform: scale(0);
    animation:expanding-flex-cards-item-body-reveal .8s ease forwards ;
}
@keyframes expanding-flex-cards-item-body-reveal{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes redirect-animation {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(1.2);
      opacity: 0;
  }
}

.expanding-flex-cards-item.redirect-animation > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    animation: redirect-animation 3s linear infinite;
}
/* EXPANDING CARDS*/
.budget {
  background-color: #fff;
  color: #333;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Use shorthand for margin to center the element */
  position: relative; /* Move position property to the main.budget class */
}


.budget > div {
  padding: 5px;
}

.budget > div:first-child {
  flex-basis: 100%;
  font-size: 2.25rem;
  font-weight: 600;
}

.budget > div:nth-child(n + 2) {
  flex-basis: 50%;
  font-size: 1.25rem;
  font-weight: 500;
}

.budget h5 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
section {
  margin-bottom: 2rem;
}

#transactionList {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #333;
}

#transactionList li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  position: relative;
}

#transactionList li:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Name section */
.name {
  flex: 1;
}

.name h4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.name p {
  font-size: 0.8rem;
  color: #555;
}

/* Amount and Details section */
.amount {
  font-weight: 600;
}

.amount.income {
  color: yellowgreen;
}

.amount.expense {
  color: indianred;
}

.details {
  flex: 2;
}

.details p {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.details p span {
  font-weight: 600;
}

/* Action section */
.action {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(211, 69, 69);
  color: #fff;
  height: 100%;
  width: 50px;
  display: grid;
  place-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 300ms;
}

#transactionList li:hover .action {
  transform: scaleX(1);
}



/* Form container */
#transactionForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Inputs, select, textarea, and button styles */
#transactionForm input:not(#type),
#transactionForm button,
#transactionForm select,
#transactionForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* Button specific styling */
#transactionForm button {
  background-color: var(--blue-color); /* Use your custom color variable */
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Label styling */
#transactionForm label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Layout adjustments */
#transactionForm div:nth-child(-n + 2) {
  flex-basis: 100%;
}

#transactionForm div:nth-child(n + 3) {
  flex-basis: calc(50% - 5px);
}

/* Select and textarea adjustments */
#transactionForm select,
#transactionForm textarea {
  height: auto;
}

/* Textarea specific styling */
#transactionForm textarea {
  resize: vertical;
  min-height: 100px;
}
input#type {
  appearance: none;
  position: absolute;
}

.option {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.option span {
  width: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.option::before {

  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background-color: #fff;
  height: calc(100% - 10px);
  width: calc(50% - 10px);
  transform: translateX(5px);
  border-radius: inherit;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms;
}

input#type:checked ~ .option::before {
  left: 50%;
}

.sliding-cards {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-container {
  display: flex;
  transition: transform 0.5s ease;
  margin-bottom: 100px;
}

.card {
  flex: 0 0 auto;
  width: 300px; /* Adjust the width of the cards as needed */
  height: 150px; /* Adjust the height of the cards as needed */
  margin-right: 20px;
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.prev-btn, .next-btn { /*make the position under the cards*/
  position: absolute;
  top: 48%;
  
  transform: translateY(170%);
  background-color: var(--yellow-color); /* Use your custom color variable */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}