/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Variables */
:root {
  --white-color: #f4f3f2;
  --whiter_color: #ffffff;
  --blue-color: #1e558d;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --yellow-color: #fbcd5a;
  --red-color: #d35858;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e7f2fd;
  transition: background-color 0.5s ease;
}

body.dark {
  background-color: #333;
  --whiter_color: #c9cddb;
  --white-color: #333;
  --blue-color: #1c4771;
  --grey-color: #c9cddb;
  --yellow-color: #887033;
  --red-color: #983a3a;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}

.navbar .logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--yellow-color);
}

.navbar img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}

.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
  padding: 0 20px;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--yellow-color);
}

/* Sidebar */
.sidebar {
  background-color: var(--yellow-color);
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu~.submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--yellow-color);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .sidebar.close {
    left: -100%;
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }

  .main_body {
    margin-left: 0;
    padding: 20px;
    margin-top: 0;
  }
}

.main_body {
  padding: 20px;
  transition: margin-left 0.5s ease;
  margin-left: 300px;
  margin-top: 60px;
}
.main_body_f {
  padding: 20px;
  transition: margin-left 0.5s ease;
  margin-top: 60px;
}

/* EXPANDING CARDS*/
.expanding-flex-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: center;
}

.expanding-flex-cards>.expanding-flex-cards-item {
  width: 100px;
  height: 75vh;
  position: relative;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 10px;
  box-shadow: 0px 2px 11px #ffffff52;
  transition: all .3s ease;
}
.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  padding: 0 0.1em;
  font-size: 2em;
  color: #ccc;
  cursor: pointer;
}

.rating label:hover,
.rating label:hover~label {
  color: #fdd835;
}
.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment p {
  margin: 0;
}

.comment .user {
  font-weight: bold;
  color: #333;
}

.comment .date {
  color: #999;
  font-size: 12px;
}
.comment-form {
  margin-top: 20px;
}

.comment-textarea {
  width: 100px;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}

.comment-form button {
  background-color: #4267B2;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #385898;
}