.container {
    max-width: 500px;
    margin-left: 10px ;
    margin-bottom: 50px;
    background-color: #fff;
    /* Blanc */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    /* Noir */
}

.container form input[type="text"],
.container form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    /* Gris clair */
    border-radius: 5px;
    box-sizing: border-box;
}

.container form button {
    background-color: #7ba0c9;
    /* Bleu pétrole */
    color: #fff;
    /* Blanc */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container form button:hover {
    background-color: #5a82ad;
    /* Bleu pétrole plus foncé */
}