/* Common Styles */
.budget,
#transactionList li,
.details p span,
.amount {
    font-weight: 600;
}

.amount.income {
    color: yellowgreen;
}

.amount.expense {
    color: indianred;
}

/* Budget */
.budget {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
}

.budget>div {
    padding: 5px;
}

.budget>div:first-child {
    flex-basis: 100%;
    font-size: 2.25rem;
}

.budget>div:not(:first-child) {
    flex-basis: 50%;
    font-size: 1.25rem;
}

.budget h5 {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/* Transactions */
#transactionList li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px;
    position: relative;
}

#transactionList li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.details {
    flex: 2;
}

.details p {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

/* Action */
.action {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(211, 69, 69);
    color: #fff;
    height: 100%;
    width: 50px;
    display: grid;
    place-items: center;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms;
}

#transactionList li:hover .action {
    transform: scaleX(1);
}

/* Form */
#transactionForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#transactionForm input:not(#type),
#transactionForm button,
#transactionForm select,
#transactionForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 42px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#transactionForm button {
    background-color: var(--blue-color);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

#transactionForm label {
    font-size: 0.75rem;
    text-transform: uppercase;
}

#transactionForm div:nth-child(-n + 2) {
    flex-basis: 100%;
}

#transactionForm div:nth-child(n + 3) {
    flex-basis: calc(50% - 5px);
}

#transactionForm select,
#transactionForm textarea {
    height: auto;
}

#transactionForm textarea {
    resize: vertical;
    min-height: 100px;
}

/* Option */
.input[type="radio"] {
    display: none;
}

.option {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.option span {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.option::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #fff;
    height: calc(100% - 10px);
    width: calc(50% - 10px);
    transform: translateX(5px);
    border-radius: inherit;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 200ms;
}

.input[type="radio"]:checked~.option::before {
    left: 50%;
}

/* Slider */
.sliding-cards {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card-container {
    display: flex;
    transition: transform 0.5s ease;
    margin-bottom: 100px;
}

.card {
    flex: 0 0 auto;
    width: 300px;
    height: 150px;
    margin-right: 20px;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 48%;
    transform: translateY(170%);
    background-color: var(--yellow-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
