/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #1d548d;
    --error-color: #D93025;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Add some space between the form elements */
form > * {
    margin-bottom: 20px;
}

/* Style the error message */
.alert {
    color: var(--error-color);
    font-size: 18px;
    margin-top: 10px;
}

.alert.error {
    display: block; /* show the error message by default */
}

/* Make the submit button more prominent */
.input-box.button input[type="submit"] {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
}

.input-box.button input[type="submit"]:hover {
    background-color: darken(var(--primary-color), 10%);
}

.input-box.button input[type="submit"]:active {
    background-color: var(--primary-color);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    padding: 0 35px;
}

.wrapper {
    position: relative;
    background: #fff;
    max-width: 480px;
    width: 100%;
    padding: 35px 40px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.input-box {
    position: relative;
    height: 65px;
    margin: 25px 0;
}

.input-box input {
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 0 40px 0 16px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: var(--primary-color);
}

.input-box i,
.input-box label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #a6a6a6;
    transition: all 0.3s ease;
}

.input-box label {
    left: 15px;
    font-size: 18px;
    font-weight: 400;
    background: #fff;
    padding: 0 6px;
    pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    font-size: 14px;
    color: var(--primary-color);
}

.input-box i {
    right: 15px;
    cursor: pointer;
    padding: 8px;
}

.text {
    font-size: 18px;
    font-weight: 400;
    color: #a6a6a6;
}
